/* FONT */

html { font-family: sans-serif; font-size: 100%; }
body { }
 pre { font-family: monospace; }
  td { text-align: left; }
   p { text-align: justify; font-size: 80%; font-weight: bold; line-height: 170%; }
  li { font-size: 80%; font-weight: bold; line-height: 110%; }
   a { text-decoration: none; }
   a:hover { text-decoration: underline; }

/* #header .title */

.title { font-size: 80%; }
.title h1 { font-size: 450%; font-weight: bold; }

.download { font-size: 150%; text-align: center; }
.download h1 { font-size: 64px; }
.download h1 a:hover { text-decoration: none; }

/* #main .doc */

.doc { }
.doc a { font-size: 100%; }
.doc a:hover { text-decoration: underline; }
.doc h2 { font-size: 2em; font-weight: bold; }
.doc h3 { font-style: italic;}

/* #nav .menu */

.menu { text-align: left; }
.menu ul li a { font-family: sans-serif; font-weight: bold; text-decoration: none; }
.menu ul li a:hover { text-decoration: underline; }
.menu ul li a:active { text-decoration: underline; }

/* #footer .copyright */

.copyright { font: bold .8em sans-serif; }

